
{% block content %}
    {% for post in recent_posts %}
        <div class="post-item">
            <div class="post-img">
                <img src="{{ post.image.url }}" />
            </div>
            <div class="post-text">
                <a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
                <div class="post-meta">
                    <p>By <a href="{% url 'author_detail' post.author.slug %}">{{ post.author }}</a></p>
                    <p>In <a href="{% url 'category_detail' post.category.slug %}">{{ post.category }}</a></p>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
