{% extends 'index.html' %}   
{% load static %}
<!-- Blog Start -->
        {% block content %}
            <div class="blog" id="blog-section">
                <div class="container">
                    <div class="section-header text-center">
                        <p>Our Blog</p>
                        <h2>Latest news & articles directly from our blog</h2>
                    </div>
                    <div class="row">
                        {% for post in recent_posts %}
                        <div class="col-lg-4">
                            <div class="blog-item">
                                <div class="blog-img">
                                    <img src="{{post.image.url}}" alt="Image">
                                </div>
                                <div class="blog-text">
                                    <h3><a href="{% url 'post_detail' post.slug  %}">{{ post.title }}</a></h3>
                                    <p>
                                        {{post.content|slice:":200"| safe }}
                                    </p>
                                </div>
                                <div class="blog-meta">
                                    <p><i class="fa fa-user"></i>{{ post.author }}</p>
                                    <!-- <p><i class="fa fa-comments"></i><a href="">15 Comments</a></p> -->
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endblock %}

