<!-- Footer Start -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-contact">
                    <h2>Our Head Office</h2>
                    <p><i class="fa fa-map-marker-alt"></i>Gradonachalnitskaya 4, Odessa</p>
                    <p><i class="fa fa-phone-alt"></i>+012 345 7777</p>
                    <p><i class="fa fa-envelope"></i>info@example.com</p>
                    <div class="footer-social">
                        <!-- <a class="btn btn-custom" href=""><i class="fab fa-twitter"></i></a> -->
                        <a class="btn btn-custom" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-custom" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-custom" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-custom" href=""><i class="fab fa-telegram"></i></a>
                        <!-- <a class="btn btn-custom" href=""><i class="fab fa-linkedin-in"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-link">
                    <h2>Popular Links</h2>
                    <a href="{% url 'home' %}">About Us</a>
                    <a href="#events-section">Upcoming Events</a>
                    <a href="{% url 'blog' %}">Blog</a>
                    <a href="{% url 'team' %}">Team</a>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6">
                <div class="footer-link">
                    <h2>Useful Links</h2>
                    <a href="">Terms of use</a>
                    <a href="">Privacy policy</a>
                    <a href="">Cookies</a>
                    <a href="">Help</a>
                    <a href="">FQAs</a>
                </div>
            </div> -->
            <!-- <div class="col-lg-3 col-md-6">
                <div class="footer-newsletter">
                    <h2>Newsletter</h2>
                    <form>
                        <input class="form-control" placeholder="Email goes here">
                        <button class="btn btn-custom">Submit</button>
                        <label>Don't worry, we don't spam!</label>
                    </form>
                </div>
            </div> -->
        </div>
    </div>
    <div class="container copyright">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; Vidguk, All Right Reserved.</p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->