{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Вiдгук</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">   <!--Google Font -->

        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        {% include "top_bar.html" %}


        <!-- Carousel Start -->
        <div class="carousel">
            <div class="container-fluid">
                <div class="owl-carousel">
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="{% static 'img/1carousel-1.JPG' %}" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h1>Будьмо добрими до дітей</h1>
                            <p>
                                Ми віримо, що кожен має право на щасливе та безпечне дитинство. <br>
                                Ваша підтримка дозволяє нам створювати можливості для дітей розвиватися, навчатися та оточувати їх турботою та ласкою.
                            </p>
                            <div class="carousel-btn">
                                <a class="btn btn-custom" href="https://www.liqpay.ua/api/3/checkout?data=eyJ2ZXJzaW9uIjozLCJhY3Rpb24iOiJwYXlkb25hdGUiLCJhbW91bnQiOiIyMCIsImN1cnJlbmN5IjoiVVNEIiwiZGVzY3JpcHRpb24iOiLQn9C+0LbQtdGA0YLQstGD0LLQsNC90L3RjyIsInB1YmxpY19rZXkiOiJzYW5kYm94X2k5NzYxODk5NDQwMyIsImxhbmd1YWdlIjoidWsifQ==&signature=7Af9fjtj04WElURRWSzoR81i21U=">Допомогти</a>
                                <a class="btn btn-custom btn-play" data-toggle="modal" data-src="https://www.youtube.com/watch?v=amO1vyolptY&ab_channel=VIDGUK" data-target="#videoModal">Watch Video</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="{% static 'img/1carousel-2.JPG' %}" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h1>Долучіться, протягнувши руку допомоги</h1>
                            <p>
                                Звітайтесь до нашої спільноти і станьте частиною нашого благодійного зусилля, простягаючи руку допомоги. <br>
                                Разом ми можемо зробити більше для тих, хто потребує нашої допомоги. <br>
                                Приєднуйтесь до нас і долучайтеся до добрих справ.
                            </p>
                            <div class="carousel-btn">
                                <a class="btn btn-custom" href="https://www.liqpay.ua/api/3/checkout?data=eyJ2ZXJzaW9uIjozLCJhY3Rpb24iOiJwYXlkb25hdGUiLCJhbW91bnQiOiIyMCIsImN1cnJlbmN5IjoiVVNEIiwiZGVzY3JpcHRpb24iOiLQn9C+0LbQtdGA0YLQstGD0LLQsNC90L3RjyIsInB1YmxpY19rZXkiOiJzYW5kYm94X2k5NzYxODk5NDQwMyIsImxhbmd1YWdlIjoidWsifQ==&signature=7Af9fjtj04WElURRWSzoR81i21U=">Допомогти</a>
                                <a class="btn btn-custom btn-play" data-toggle="modal" data-src="https://www.youtube.com/watch?v=amO1vyolptY&ab_channel=VIDGUK" data-target="#videoModal">Watch Video</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src=" {% static 'img/1carousel-3.JPG' %}" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h1>Дарувати надiю мільйонам</h1>
                            <p>
                                Важливо пам'ятати, що ми можемо змінити світ, починаючи з невеликих дій, і це може мати величезний вплив на життя мільйонів людей. <br>
                                Нехай цей лозунг надихне нас усіх дарувати надію та робити світ кращим для інших.
                            </p>
                            <div class="carousel-btn">
                                <a class="btn btn-custom" href="https://www.liqpay.ua/api/3/checkout?data=eyJ2ZXJzaW9uIjozLCJhY3Rpb24iOiJwYXlkb25hdGUiLCJhbW91bnQiOiIyMCIsImN1cnJlbmN5IjoiVVNEIiwiZGVzY3JpcHRpb24iOiLQn9C+0LbQtdGA0YLQstGD0LLQsNC90L3RjyIsInB1YmxpY19rZXkiOiJzYW5kYm94X2k5NzYxODk5NDQwMyIsImxhbmd1YWdlIjoidWsifQ==&signature=7Af9fjtj04WElURRWSzoR81i21U=">Допомогти</a>
                                <a class="btn btn-custom btn-play" data-toggle="modal" data-src="https://www.youtube.com/watch?v=amO1vyolptY&ab_channel=VIDGUK" data-target="#videoModal">Watch Video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End -->

        <!-- Video Modal Start-->
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>        
                        <!-- 16:9 aspect ratio -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- Video Modal End -->
        

        <!-- About Start -->
        <div class="about" id="about-us-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img" data-parallax="scroll" data-image-src="{% static 'img/about.jpg' %}"></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section-header">
                            <p>Трохи про нас</p>
                            <h2>Що таке Відгук?</h2>
                        </div>
                        <div class="about-tab">
                            <ul class="nav nav-pills nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#tab-content-1">О нас</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#tab-content-2">Mission</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#tab-content-3">Чому ми це робимо?</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="tab-content-1" class="container tab-pane active">
                                    "Відгук" - це благодійний фонд створенний українцями, який відгукується на прохання людей. <br>
                                    Це люди, яких з 24 лютого 2022 року об'єднало однє бажання і один поклик - допомога ближньому, тому хто у біді. 

                                </div>
                                <div id="tab-content-2" class="container tab-pane fade">
                                    Sed tincidunt, magna ut vehicula volutpat, turpis diam condimentum justo, posuere congue turpis massa in mi. Proin ornare at massa at fermentum. Nunc aliquet sed nisi iaculis ornare. Nam semper tortor eget est egestas, eu sagittis nunc sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent bibendum sapien sed purus molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </div>
                                <div id="tab-content-3" class="container tab-pane fade">
                                    Однією нашою головною цінністю є - взаємовідносини та довіра. <br>
                                    Для нас важлива кожна людина, якій ми допомогаємо і ми хочемо, щоб вона відчувала надійність поруч з нами. <br>
                                    Довіра в співпраці— без якої неможлива наша діяльність. Щирість та честність допомагають творити нам добро.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Service Start -->
        <div class="service">
            <div class="container">
                <div class="section-header text-center">
                    <p>Що ми робимо?</p>
                    <h2>Ми віримо, що з вами зможемо врятувати більше життів</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-diet"></i>
                            </div>
                            <div class="service-text">
                                <h3>Healthy Food</h3>
                                <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-water"></i>
                            </div>
                            <div class="service-text">
                                <h3>Pure Water</h3>
                                <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-social-care"></i>
                            </div>
                            <div class="service-text">
                                <h3>Social Care</h3>
                                <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-education"></i>
                            </div>
                            <div class="service-text">
                                <h3>Primary Education</h3>
                                <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-home"></i>
                            </div>
                            <div class="service-text">
                                <h3>Residence Facilities</h3>
                                <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-social-care"></i>
                            </div>
                            <div class="service-text">
                                <h3>Social Care</h3>
                                <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- Service End -->
        
        
        <!-- Facts Start -->
        <div class="facts" data-parallax="scroll" data-image-src="{% static 'img/facts.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="flaticon-home"></i>
                            <div class="facts-text">
                                <h3 class="facts-plus" data-toggle="counter-up">150</h3>
                                <p>Villages</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="flaticon-charity"></i>
                            <div class="facts-text">
                                <h3 class="facts-plus" data-toggle="counter-up">400</h3>
                                <p>Families</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="flaticon-diet"></i>
                            <div class="facts-text">
                                <h3 class="facts-plus" data-toggle="counter-up">10000</h3>
                                <p>meals</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="flaticon-healthcare"></i>
                            <div class="facts-text">
                                <h3 class="facts-plus" data-toggle="counter-up">5000</h3>
                                <p>Health Care</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Facts End -->
       
        <!-- Event Start -->
        <div class="event" id="events-section">
            <div class="container">
                <div class="section-header text-center">
                    <p>Майбутні події</p>
                    <h2>Будьте готові до наших майбутніх благодійних iвентiв</h2>
                </div>
                <div class="row">
                    {% for event in events %}
                        <div class="col-lg-6">
                            <div class="event-item">
                                    <img src="{{ event.image.url}}" alt="Image">
                                    <div class="event-content">
                                        <div class="event-meta">
                                            <p><i class="fa fa-calendar-alt"></i>{{ event.date }}</p>
                                            {% if event.time %}
                                            <p><i class="far fa-clock"></i>{{ event.time|time:'H:i' }}</p>
                                            {% endif %}
                                            <p><i class="fa fa-map-marker-alt"></i>{{ event.place }}</p>
                                        </div>
                                        <div class="event-text">
                                            <h3>{{ event.title }}</h3>
                                            <p>
                                                {{ event.description }}
                                            </p>
                                            <!-- <a class="btn btn-custom" href="">Присоединиться</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Event End -->

        


        <!-- Donate Start -->
        <div class="donate" data-parallax="scroll" data-image-src="{% static 'img/donate.jpg' %}">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="donate-content">
                            <div class="section-header">
                                <p>Допомогти зараз</p>
                                <h2>Населення України потребує вашої допомоги</h2>
                            </div>
                            <div class="donate-text">
                                <p>
                                    Зробити добро і допомогти тим, хто цього потребує, завжди важливо. <br>
                                    Ваші донати допомагають нам розширювати нашу діяльність та надавати допомогу у надзвичайних ситуаціях. <br>
                                    Вони також дозволяють нам запускати нові проекти та підвищувати свідомість про важливі питання. <br>
                                    Приєднуйтесь до наших донорів, і разом ми робимо світ кращим для всіх
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="donate-form" id="donate-section">
                            <form id="choiceForm">
                                <div class="control-group">
                                    <input type="text" class="form-control" placeholder="Iм'я" required="required" />
                                </div>
                                <div class="control-group">
                                    <input type="email" class="form-control" placeholder="Email" required="required" />
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-custom active">
                                        <input type="radio" name="options" checked value="10">
                                        $10
                                    </label>
                                    <label class="btn btn-custom">
                                        <input type="radio" name="options" value="20">
                                        $20
                                    </label>
                                    <label class="btn btn-custom">
                                        <input type="radio" name="options" value="30"> $30
                                    </label>
                                </div>
                                <div>
                                    <button class="btn btn-custom" type="submit" value>Допомогти</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.getElementById('choiceForm').addEventListener('submit', function(event) {
                event.preventDefault(); // Остановить стандартное поведение формы
    
                // Получить выбранное значение
                var selectedOption = document.querySelector('input[name="options"]:checked');
    
                if (selectedOption) {
                    // Изменить адрес перенаправления в зависимости от выбора кнопки
                    switch (selectedOption.value) {
                        case '10':
                            window.location.href = 'https://www.liqpay.ua/api/3/checkout?data=eyJ2ZXJzaW9uIjozLCJhY3Rpb24iOiJwYXlkb25hdGUiLCJhbW91bnQiOiIxMCIsImN1cnJlbmN5IjoiVVNEIiwiZGVzY3JpcHRpb24iOiLQv9C+0LbQtdGA0YLQstCwIiwicHVibGljX2tleSI6InNhbmRib3hfaTk3NjE4OTk0NDAzIiwibGFuZ3VhZ2UiOiJ1ayJ9&signature=Q61ZPWZRJjQi7j3pIhIdIz1GCs8=';
                            break;
                        case '20':
                            window.location.href = 'https://www.liqpay.ua/api/3/checkout?data=eyJ2ZXJzaW9uIjozLCJhY3Rpb24iOiJwYXlkb25hdGUiLCJhbW91bnQiOiIyMCIsImN1cnJlbmN5IjoiVVNEIiwiZGVzY3JpcHRpb24iOiLQn9C+0LbQtdGA0YLQstGD0LLQsNC90L3RjyIsInB1YmxpY19rZXkiOiJzYW5kYm94X2k5NzYxODk5NDQwMyIsImxhbmd1YWdlIjoidWsifQ==&signature=7Af9fjtj04WElURRWSzoR81i21U=';
                            break;
                        case '30':
                            window.location.href = 'https://www.liqpay.ua/api/3/checkout?data=eyJ2ZXJzaW9uIjozLCJhY3Rpb24iOiJwYXlkb25hdGUiLCJhbW91bnQiOiIzMCIsImN1cnJlbmN5IjoiVVNEIiwiZGVzY3JpcHRpb24iOiLQn9C+0LbQtdGA0YLQstCwIiwicHVibGljX2tleSI6InNhbmRib3hfaTk3NjE4OTk0NDAzIiwibGFuZ3VhZ2UiOiJ1ayJ9&signature=qLKWdo8qnBfdA3ha3hd7dfrw2Xw=';
                            break;
                        default:
                            // По умолчанию перенаправление можно настроить на другую страницу
                            window.location.href = 'https://www.liqpay.ua/api/3/checkout?data=eyJ2ZXJzaW9uIjozLCJhY3Rpb24iOiJwYXlkb25hdGUiLCJhbW91bnQiOiIxMCIsImN1cnJlbmN5IjoiVVNEIiwiZGVzY3JpcHRpb24iOiLQv9C+0LbQtdGA0YLQstCwIiwicHVibGljX2tleSI6InNhbmRib3hfaTk3NjE4OTk0NDAzIiwibGFuZ3VhZ2UiOiJ1ayJ9&signature=Q61ZPWZRJjQi7j3pIhIdIz1GCs8=';//
                    }
                }
            });
        </script>
        <!-- Donate End -->
        
        


        <!-- Team Start -->
        <div class="team">
            <div class="container">
                <div class="section-header text-center">
                    <p>Наша команда</p>
                    <h2>Чудові люди стоять за нашою благодійною діяльністю</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{% static 'img/team-1.jpg' %}"alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Александр Мойсеєнко</h2>
                                <p>Founder & CEO</p>
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{% static 'img/team-2.jpg' %}" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Вiкторiя Мiнчева</h2>
                                <p>Head of warehouse</p>
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{% static 'img/team-3.jpg' %}" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Денис Ткачук</h2>
                                <p>Chef Advisor</p>
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{% static 'img/team-4.jpg' %}" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Александр Сапєго</h2>
                                <p>co-founder</p>
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->
        
        
        
        <!-- Testimonial Start -->
        <div class="testimonial">
            <div class="container">
                <div class="section-header text-center">
                    <p>Відгуки</p>
                    <h2>Що люди говорять про нас</h2>
                </div>
                <div class="owl-carousel testimonials-carousel">
                    <div class="testimonial-item">
                        <div class="testimonial-profile">
                            <img src="{% static 'img/testimonial-1.jpg' %}" alt="Image">
                            <div class="testimonial-name">
                                <h3>Person Name</h3>
                                <p>Profession</p>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor, auctor id gravid vivera quis
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-profile">
                            <img src="{% static 'img/testimonial-2.jpg' %}" alt="Image">
                            <div class="testimonial-name">
                                <h3>Person Name</h3>
                                <p>Profession</p>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor, auctor id gravid vivera quis
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-profile">
                            <img src="{% static 'img/testimonial-3.jpg' %}" alt="Image">
                            <div class="testimonial-name">
                                <h3>Person Name</h3>
                                <p>Profession</p>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor, auctor id gravid vivera quis
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-profile">
                            <img src="{% static 'img/testimonial-4.jpg' %}" alt="Image">
                            <div class="testimonial-name">
                                <h3>Person Name</h3>
                                <p>Profession</p>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor, auctor id gravid vivera quis
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->


        <!-- Blog Start -->
        <div class="blog" id="blog-section">
            <div class="container">
                <div class="section-header text-center">
                    <p>Блог</p>
                    <h2>Останні новини та статті</h2>
                </div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <!-- Blog End -->


        {% include 'footer.html' %}
        
        <!-- Back to top button -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
        <script src="{% static 'lib/parallax/parallax.min.js' %}"></script>
        
        <!-- Contact Javascript File -->
        <script src="mail/jqBootstrapValidation.min.js"></script>
        <script src="mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>

    </body>
</html>
